body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	background-color: #BBB;
	margin: 0px;
	padding: 0px;
	background-image: none;
}
.wrapper {
	background-color: #EEE;
	width: 950px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.wrapper .content #gallery {
	padding: 50px;
	height: auto;
	width: auto;
}
.wrapper {
	border: thin solid #000;
}
.wrapper .content p {
	margin: 20px;
	padding: 20px;
}
.wrapper .content {
	border: medium solid #009;
	width: auto;
	padding: 20px;
	margin: 20px;
	background-color: #EEE;
	background-image: none;
}
.wrapper .footer {
	margin: 20px;
	padding: 20px;
	font-size: 12px;
	border: thin solid #000;
}
.wrapper .content table {
	margin: 20px;
	padding: 70px;
	border: thin solid #00C;
	width: 364px;
	font-size: 16px;
	font-style: oblique;
	top: auto;
	background-color: #005CA8;
	color: #EEE;
}
.wrapper .content div img {
	margin: 20px;
	padding: 20px;
}
.wrapper .footer {
	background-color: #BBB;
}
.wrapper .navigation div table tr td div {
	border: medium solid #339;
	margin: 5px;
	padding: 5px;
	height: auto;
	width: auto;
	font-size: 16px;
}
.wrapper .content div p img {
	border: medium solid #000;
	background-color: #0059A3;
}
.wrapper .content div table {
	border: medium solid #000;
	width: 364px;
}
.wrapper .content table {
	width: 200px;
	height: 10px;
}
.wrapper .content p a img {
	border: medium solid #000;
}
a:hover {
	text-transform: uppercase;
	color: #009;
	background-color: #00F;
}
